#!/usr/bin/make -f

export DEB_BUILD_HARDENING=1

build:
	dh_testdir
ifneq "$(wildcard /usr/share/misc/config.sub)" ""
	cp -f /usr/share/misc/config.sub config.sub
endif
ifneq "$(wildcard /usr/share/misc/config.guess)" ""
	cp -f /usr/share/misc/config.guess config.guess
endif
	dh $@


clean:
	dh $@
	rm -f config.sub config.guess

%:
	dh $@

.PHONY: build clean

